<div class="container p-5">
    <form [formGroup]="loginCreds" class="form">
        <h3>Login </h3>
        <div class="col-sm-6 pb-5">
            <label for="email" class="label pt-3">Email</label>
            <div class="pt-2">
                <input type="email" class="form-control" formControlName="email" id="email">
            </div>
            <label for="password" class="label pt-3">Password</label>
            <div class="pt-2">
                <input type="password" class="form-control" formControlName="password" id="password">
            </div>
            <div class="pt-2">
                <input type="submit" (click)="login()" value="Login" id="login" class="btn btn-outline-primary">
            </div>
        </div>
    </form>
</div>